<h1>Homepage</h1>
<%= link_to('Add Book', {:action => 'AddBook'})%>
<%= link_to('Update Book', {:action => 'UpdateBook'})%>
<%= link_to('Show Details', {:action => 'ShowDetails'})%>
<%= link_to('Delete Book', {:action => 'DeleteBook'})%>

